@import "bourbon/bourbon"
@import "sass/_custom"

/*Внешние блоки*/

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.25
	font-family: "FiraSansExtraCondensedRegular", sans-serif
	overflow-x: hidden

.header
	&__top
		background-image: url(../img/wall.jpg)
		text-align: right
		background-repeat: no-repeat
		background-position: center bottom
		background-size: 100% auto
	&__center
		padding-top: 60px
		padding-bottom: 65px
	&__h-text
		padding-top: 35px
	&__h-right
		text-align: right
	&__bottom
		background-color: #e7ddcc
	&__h-catnav
		margin-left: -37px
		margin-right: -1px

.page
	background-repeat: no-repeat
	background-size: 100% auto
	background-position: bottom center
	&__offers
		margin-top: 90px
		margin-bottom: 70px
	&__p-title
		text-align: center
		padding-bottom: 35px
	&__section
		margin-bottom: 90px
		&-ques
			padding-bottom: 87px
		&-top
			background-color: #fff
			padding: 40px 0
		&-sort
			background-repeat: no-repeat
			background-size: cover
			background-position: top center
			padding: 22px 0
		&-prods
			background-color: #fff
			padding-top: 77px
		&-ab
			padding-top: 65px
			padding-bottom: 70px
	&__p-questitle
		text-align: center
		padding-bottom: 35px
	&__p-quesform
		width: 526px
		margin: 0 auto
	&__p-path
		text-align: center
		padding-bottom: 22px
	&__p-bigtitle
		text-align: center
	&__p-sort
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		justify-content: space-between
	&__p-prod
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		justify-content: space-between
		-webkit-flex-wrap: wrap
		-ms-flex-wrap: wrap
		flex-wrap: wrap
		&-block
			display: none
	&__p-content
		&-right
			padding-left: 30px
		h2
			color: #ba2e17
			font-size: 40px
			display: block
			text-transform: uppercase
			font-weight: normal
			font-family: "FiraSansExtraCondensedLight", sans-serif
		p
			font-size: 19px
			line-height: 27px
			color: #000

.p-sort
	&__vid
		@include clearfix
		.p-select__label
			float: left
			display: block

.footer
	background-repeat: no-repeat
	background-position: center center
	background-size: cover
	&__top
		padding-top: 60px
		padding-bottom: 48px
		.row
			.col-md-12
				display: -webkit-flex
				display: -moz-flex
				display: -ms-flex
				display: -o-flex
				display: flex
				justify-content: space-between
	&__f-nav
		width: 214px
	&__bottom
		background-color: rgba(#000,.3)
		padding: 28px 0
	&__f-line
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		justify-content: space-between