@import "bourbon/bourbon"
@import "sass/_custom"

/*Внешние блоки*/

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.25
	font-family: "FiraSansExtraCondensedRegular", sans-serif
	overflow-x: hidden

.header
	&__top
		background-image: url(../img/wall.jpg)
		text-align: right
		background-repeat: no-repeat
		background-position: center bottom
		background-size: 100% auto
	&__center
		padding-top: 60px
		padding-bottom: 65px
	&__h-text
		padding-top: 35px
	&__h-right
		text-align: right
	&__bottom
		background-color: #e7ddcc
	&__h-catnav
		margin-left: -37px
		margin-right: -1px

.page
	background-repeat: no-repeat
	background-size: 100% auto
	background-position: bottom center
	&__offers
		margin-top: 90px
		margin-bottom: 70px
	&__p-title
		text-align: center
		padding-bottom: 35px
	&__section
		margin-bottom: 90px
		&-ques
			padding-bottom: 87px
	&__p-questitle
		text-align: center
		padding-bottom: 35px
	&__p-quesform
		width: 526px
		margin: 0 auto

.footer
	background-repeat: no-repeat
	background-position: center center
	background-size: cover
	&__top
		padding-top: 60px
		padding-bottom: 48px
		.row
			.col-md-12
				display: -webkit-flex
				display: -moz-flex
				display: -ms-flex
				display: -o-flex
				display: flex
				justify-content: space-between
	&__f-nav
		width: 214px
	&__bottom
		background-color: rgba(#000,.3)
		padding: 28px 0
	&__f-line
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		justify-content: space-between