@charset "UTF-8";
/*Сброс*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, samp, small,
strike, strong, sub, sup, tt, var, b, i,
dl, dt, dd, ol, ul, li, fieldset, form,
label, legend, table, caption, tbody, tfoot,
thead, tr, th, td, article, aside, canvas,
details, embed, figure, figcaption, footer,
header, hgroup, nav, output, ruby, section,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

button, button:active, button:focus,
input, input:active, input:focus {
  outline: none;
}

ol, ul {
  list-style: none;
}

.hidden {
  display: none;
}

.owl-nav button {
  width: 18px;
  height: 35px;
  text-indent: -9999px;
  background-repeat: no-repeat !important;
  position: absolute;
  top: 50%;
  margin-top: -17.5px;
  z-index: 10;
}

.owl-prev {
  background-image: url(../img/leftarrow.svg) !important;
  left: 20%;
}

.owl-next {
  background-image: url(../img/rightarrow.svg) !important;
  right: 20%;
}

.owl-dots {
  position: absolute;
  bottom: 22px;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 0;
}

.owl-dots .owl-dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 2px solid #fff !important;
  display: inline-block;
  margin: 0 2.5px;
  background-color: transparent;
}

.owl-dots .active {
  border-color: #ce031b !important;
  background-color: #ce031b !important;
}

.ui-selectmenu-button.ui-button {
  width: 260px;
  border-radius: 0;
  border: none;
  height: 38px;
  padding: 0 40px 0 18px;
  background-color: #fff;
  position: relative;
  outline: none !important;
}

.ui-selectmenu-button.ui-button::after {
  width: 16px;
  background-image: url(../img/bottom-arrow.svg);
  content: '';
  position: absolute;
  right: 12px;
  background-repeat: no-repeat;
  background-position: center center;
  top: 0;
  bottom: 0;
}

.ui-selectmenu-text {
  margin-right: 0;
  line-height: 38px;
  font-family: "FiraSansExtraCondensedRegular", sans-serif;
  font-size: 19px;
  color: #000;
}

.ui-button .ui-icon {
  display: none;
}

.ui-selectmenu-button-open::after {
  transform: rotate(180deg) !important;
  -webkit-transform: rotate(180deg) !important;
}

/*Внешние блоки*/
body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.25;
  font-family: "FiraSansExtraCondensedRegular", sans-serif;
  overflow-x: hidden;
}

.header__top {
  background-image: url(../img/wall.jpg);
  text-align: right;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 100% auto;
}

.header__center {
  padding-top: 60px;
  padding-bottom: 65px;
}

.header__h-text {
  padding-top: 35px;
}

.header__h-right {
  text-align: right;
}

.header__bottom {
  background-color: #e7ddcc;
}

.header__h-catnav {
  margin-left: -37px;
  margin-right: -1px;
}

.page {
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: bottom center;
}

.page__offers {
  margin-top: 90px;
  margin-bottom: 70px;
}

.page__p-title {
  text-align: center;
  padding-bottom: 35px;
}

.page__section {
  margin-bottom: 90px;
}

.page__section-ques {
  padding-bottom: 87px;
}

.page__section-top {
  background-color: #fff;
  padding: 40px 0;
}

.page__section-sort {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  padding: 22px 0;
}

.page__section-prods {
  background-color: #fff;
  padding-top: 77px;
}

.page__section-ab {
  padding-top: 65px;
  padding-bottom: 70px;
}

.page__p-questitle {
  text-align: center;
  padding-bottom: 35px;
}

.page__p-quesform {
  width: 526px;
  margin: 0 auto;
}

.page__p-path {
  text-align: center;
  padding-bottom: 22px;
}

.page__p-bigtitle {
  text-align: center;
}

.page__p-sort {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
}

.page__p-prod {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.page__p-prod-list {
  display: none;
}

.page__p-content-right {
  padding-left: 30px;
}

.page__p-content h2 {
  color: #ba2e17;
  font-size: 40px;
  display: block;
  text-transform: uppercase;
  font-weight: normal;
  font-family: "FiraSansExtraCondensedLight", sans-serif;
}

.page__p-content p {
  font-size: 19px;
  line-height: 27px;
  color: #000;
}

.page__p-card {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.page__p-prev {
  text-align: left;
  margin-top: 55px;
}

.page__p-next {
  text-align: right;
  margin-top: 55px;
}

.page__p-cardbtn {
  text-align: center;
  margin-top: 55px;
}

.p-sort__vid::after {
  clear: both;
  content: "";
  display: table;
}

.p-sort__vid .p-select__label {
  float: left;
  display: block;
}

.footer {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.footer__top {
  padding-top: 60px;
  padding-bottom: 48px;
}

.footer__top .row .col-md-12 {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
}

.footer__f-nav {
  width: 214px;
}

.footer__bottom {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 28px 0;
}

.footer__f-line {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
}

/*Компоненты*/
.h-nav {
  font-size: 0;
}

.h-nav__item {
  display: inline-block;
  padding-left: 38px;
  padding-right: 35px;
  position: relative;
}

.h-nav__item::before {
  content: '';
  width: 3px;
  height: 3px;
  background-color: #ffcf7f;
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -1.5px;
}

.h-nav__item:first-child {
  padding-left: 0;
}

.h-nav__item:first-child::before {
  display: none;
}

.h-nav__item:last-child {
  padding-right: 0;
}

.h-nav__link {
  display: block;
  font-size: 19px;
  color: #fff;
  line-height: 50px;
  position: relative;
}

.h-nav__link::after {
  content: '';
  height: 5px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
}

.h-nav__link:hover {
  text-decoration: none;
  color: #ffcf7f;
}

.h-nav__link:hover::after {
  background-color: #ffcf7f;
}

.h-nav .active .h-nav__link {
  text-decoration: none;
  color: #ffcf7f;
}

.h-nav .active .h-nav__link::after {
  background-color: #ffcf7f;
}

.h-text {
  font-size: 19px;
  color: #000;
  line-height: 22px;
  display: block;
}

.h-phone {
  color: #ba2e17;
  font-size: 21px;
  padding-left: 34px;
  position: relative;
}

.h-phone span {
  font-size: 29px;
  color: #000;
}

.h-phone svg {
  height: 36px;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -18px;
}

.h-phone:hover {
  text-decoration: none;
  color: #ba2e17;
}

.h-search {
  margin-top: 25px;
  position: relative;
}

.h-search__input {
  width: 100%;
  height: 47px;
  background-color: #e7ddcc;
  line-height: 37px;
  border: none;
  border-radius: 3px;
  padding-left: 18px;
  padding-right: 54px;
  color: #000;
  font-size: 19px;
  text-align: left;
}

.h-search__input::-webkit-input-placeholder {
  opacity: 1;
  color: #000;
}

.h-search__input::-moz-placeholder {
  opacity: 1;
  color: #000;
}

.h-search__input:-moz-placeholder {
  opacity: 1;
  color: #000;
}

.h-search__input:-ms-input-placeholder {
  opacity: 1;
  color: #000;
}

.h-search__btn {
  position: absolute;
  right: 0;
  top: 0;
  width: 54px;
  bottom: 0;
  border: none;
  background-color: transparent;
  padding: 4px 0 0 0;
}

.h-search__btn svg {
  fill: #D02028;
  width: 31px;
}

.h-search__btn:hover svg {
  opacity: .8;
}

.h-catnav {
  font-size: 0;
}

.h-catnav__item {
  display: inline-block;
  padding-right: 39.5px;
  padding-left: 37px;
  position: relative;
  margin-bottom: 9px;
  margin-top: 9px;
}

.h-catnav__item::after {
  content: '';
  display: block;
  width: 3px;
  height: 3px;
  background-color: #bea38e;
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -1.5px;
}

.h-catnav__link {
  color: #000;
  font-size: 20px;
  line-height: 50px;
  line-height: 32px;
  display: block;
  border-bottom: 3px solid transparent;
}

.h-catnav__link:hover {
  text-decoration: none;
  color: #ba2e17;
  border-bottom-color: #ba2e17;
}

.h-catnav__link:focus, .h-catnav__link:active {
  text-decoration: none;
  color: #000;
}

.h-catnav .active .h-catnav__link {
  text-decoration: none;
  color: #ba2e17;
  border-bottom-color: #ba2e17;
}

.p-indexslider__item {
  position: relative;
}

.p-indexslider__item::after {
  content: '';
  display: block;
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-image: url(../img/slider-patern.png);
  background-repeat: repeat;
  background-position: 0 0;
}

.p-indexslider__img {
  display: block;
  width: 100%;
  height: auto;
}

.p-indexslider__text {
  position: absolute;
  z-index: 2;
  display: block;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}

.p-indexslider__text h2 {
  color: #fff;
  font-size: 50px;
  line-height: 60px;
  font-family: "FiraSansExtraCondensedMedium", sans-serif;
  text-transform: uppercase;
  text-align: center;
}

.p-offers {
  display: block;
}

.p-offers__img {
  display: block;
  width: 100%;
  height: auto;
}

.p-offers__text {
  display: block;
  text-align: center;
  height: 96px;
  position: relative;
  overflow: hidden;
}

.p-offers__title {
  color: #000;
  text-transform: uppercase;
  font-size: 26px;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}

.p-offers:hover {
  text-decoration: none;
}

.p-offers:hover .p-offers__top {
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.p-offers:hover .p-offers__title {
  color: #ba2e17;
  text-decoration: none;
}

.p-offers:focus, .p-offers:active {
  text-decoration: none;
}

.p-offers:focus .p-offers__title, .p-offers:active .p-offers__title {
  text-decoration: none;
  color: #000;
}

.p-title {
  display: inline-block;
  font-size: 40px;
  color: #ba2e17;
  font-family: "FiraSansExtraCondensedLight", sans-serif;
  text-transform: uppercase;
}

.p-description {
  font-size: 19px;
  color: #000;
  line-height: 27px;
}

.p-description p {
  padding-bottom: 25px;
}

.p-description ul li {
  display: block;
  padding-left: 32px;
  padding-bottom: 20px;
  position: relative;
}

.p-description ul li::before {
  content: '';
  width: 18px;
  height: 18px;
  display: block;
  position: absolute;
  left: 0;
  top: 5px;
  background-image: url(../img/p-list.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.p-description ul li:last-child {
  padding-bottom: 0;
}

.p-img img {
  display: block;
  width: 100%;
  height: auto;
}

.p-ourprod {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.p-ourprod__item {
  width: 25%;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.p-ourprod__link {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  background-image: url(../img/no-hover.png);
  background-repeat: repeat-x;
  background-position: left bottom;
}

.p-ourprod__link span {
  color: #fff;
  position: absolute;
  z-index: 10;
  left: 0;
  right: 0;
  top: 100%;
  margin-top: -75px;
  text-transform: uppercase;
  font-size: 28px;
  line-height: 32px;
  text-align: center;
}

.p-ourprod__link:hover {
  background-image: url(../img/yes-hover.png);
}

.p-questitle {
  color: #ba2e17;
  font-size: 40px;
  font-family: "FiraSansExtraCondensedLight", sans-serif;
  text-transform: none;
  display: inline-block;
}

.p-quesform {
  text-align: center;
}

.p-quesform__subtitle {
  color: #000;
  font-size: 22px;
  display: block;
  width: auto;
  padding-bottom: 24px;
  margin: 0 -1px;
}

.p-quesform__input {
  text-align: left;
  display: block;
  width: 100%;
  height: 52px;
  padding-left: 18px;
  padding-right: 18px;
  background-color: #fff;
  border: 1px solid #ba2e17;
  margin-bottom: 25px;
  outline: none;
}

.p-quesform__input::-webkit-input-placeholder {
  opacity: 1;
  color: #000;
}

.p-quesform__input::-moz-placeholder {
  opacity: 1;
  color: #000;
}

.p-quesform__input:-moz-placeholder {
  opacity: 1;
  color: #000;
}

.p-quesform__input:-ms-input-placeholder {
  opacity: 1;
  color: #000;
}

.p-quesform__textarea {
  text-align: left;
  display: block;
  width: 100%;
  height: 122px;
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #fff;
  border: 1px solid #ba2e17;
  outline: none;
}

.p-quesform__textarea::-webkit-input-placeholder {
  opacity: 1;
  color: #000;
}

.p-quesform__textarea::-moz-placeholder {
  opacity: 1;
  color: #000;
}

.p-quesform__textarea:-moz-placeholder {
  opacity: 1;
  color: #000;
}

.p-quesform__textarea:-ms-input-placeholder {
  opacity: 1;
  color: #000;
}

.p-quesform__row {
  padding-top: 50px;
  text-align: center;
}

.p-quesform__btn {
  display: inline-block;
  height: 32px;
  padding-left: 28px;
  padding-right: 28px;
  text-align: center;
  border: 1px solid #ba2e17;
  text-transform: uppercase;
  background-color: #ba2e17;
  line-height: 31px;
  font-size: 22px;
  color: #fff;
}

.p-quesform__btn:hover {
  background-color: transparent;
  color: #ba2e17;
  text-decoration: none;
}

.p-quesform__btn:focus, .p-quesform__btn:active {
  background-color: #ba2e17;
  color: #fff;
  text-decoration: none;
}

.p-quesform__info {
  padding-top: 38px;
  display: block;
  font-size: 16px;
  color: #000;
  line-height: 18px;
}

.p-quesform__info a {
  text-decoration: none;
  border-bottom: 1px solid #000;
  font-size: 16px;
  color: #000;
  line-height: 18px;
}

.p-quesform__info a:hover {
  text-decoration: none;
  border-bottom: transparent;
}

.f-nav__item {
  display: block;
  position: relative;
  margin-bottom: 25px;
  padding-right: 45px;
}

.f-nav__item::after {
  content: '';
  display: block;
  width: 16px;
  height: 2px;
  background-color: #fff;
  right: 0;
  top: 50%;
  margin-top: -1px;
  position: absolute;
}

.f-nav__item:last-child {
  margin-bottom: 0;
}

.f-nav .active .f-nav__link {
  color: #f0d8af;
  text-decoration: none;
}

.f-nav__link {
  display: inline-block;
  font-size: 20px;
  color: #fff;
  text-decoration: none;
}

.f-nav__link:hover {
  color: #f0d8af;
  text-decoration: none;
}

.f-nav__link:focus, .f-nav__link:active {
  color: #fff;
  text-decoration: none;
}

.f-search {
  margin-top: 0;
}

.f-search .h-search__input {
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  width: 310px;
}

.f-search .h-search__input::-webkit-input-placeholder {
  opacity: 1;
  color: #fff;
}

.f-search .h-search__input::-moz-placeholder {
  opacity: 1;
  color: #fff;
}

.f-search .h-search__input:-moz-placeholder {
  opacity: 1;
  color: #fff;
}

.f-search .h-search__input:-ms-input-placeholder {
  opacity: 1;
  color: #fff;
}

.f-search .h-search__btn svg {
  fill: #f0d8af;
}

.f-phone {
  font-size: 19px;
  color: #fff;
  padding-left: 22px;
  line-height: 44px;
}

.f-phone span {
  font-size: 26px;
  color: #fff;
}

.f-phone:hover, .f-phone:focus, .f-phone:active {
  color: #fff;
  text-decoration: none;
}

.f-phone svg {
  fill: #f0d8af;
  width: 12px;
}

.f-create,
.f-copy {
  font-size: 16px;
  color: #fff;
  line-height: 47px;
}

.no-scroll {
  overflow: hidden;
}

.p-path {
  font-size: 0;
}

.p-path__item {
  display: inline-block;
  padding-right: 16px;
  position: relative;
}

.p-path__item:last-child {
  padding-right: 0;
}

.p-path__item:last-child::after {
  display: none !important;
}

.p-path__item::after {
  content: '/';
  font-size: 16px;
  color: #000;
  display: block;
  position: absolute;
  width: 16px;
  right: 0;
  top: 50%;
  text-align: center;
  transform: translateY(-50%);
}

.p-path__link {
  color: #000;
  font-size: 16px;
  line-height: 18px;
}

.p-path__last {
  color: #000;
  font-size: 16px;
  line-height: 18px;
}

.p-bigtitle {
  text-transform: uppercase;
  display: inline-block;
  color: #ba2e17;
  font-size: 36px;
  font-weight: normal;
  font-family: "FiraSansExtraCondensedLight", sans-serif;
}

.p-search {
  width: 318px;
  margin-top: 0;
}

.p-search .h-search__input {
  background-color: #fff;
  height: 38px;
}

.p-search svg {
  fill: #7d481e;
}

.p-select {
  float: left;
}

.p-select__label {
  color: #fff;
  font-size: 19px;
  line-height: 38px;
  display: inline-block;
  margin-right: 24px;
  float: left;
}

.p-pagin {
  font-size: 0;
  padding-top: 9px;
}

.p-pagin__link {
  font-size: 19px;
  color: #fff;
  width: 16px;
  display: block;
  text-align: center;
}

.p-pagin__link:hover {
  text-decoration: none;
  color: #fff;
  opacity: 0.8;
}

.p-pagin__link:focus, .p-pagin__link:active {
  text-decoration: none;
  color: #fff;
}

.p-pagin__link svg {
  display: block;
  fill: #fff;
  width: 19px;
}

.p-pagin__item {
  display: inline-block;
}

.p-pagin__item-left .p-pagin__link {
  width: 20px;
  height: 16px;
  padding-top: 3px;
}

.p-pagin__item-left .p-pagin__link svg {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
}

.p-pagin__item-right .p-pagin__link {
  width: 20px;
  height: 16px;
  padding-top: 3px;
}

.p-pagin__item-right .p-pagin__link svg {
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
}

.p-vid {
  display: inline-block;
  display: block;
  float: left;
  padding-top: 11px;
  font-size: 0;
}

.p-vid__item {
  display: inline-block;
  padding-right: 10px;
}

.p-vid__item:last-child {
  padding-right: 0;
}

.p-vid__link {
  display: block;
}

.p-vid__link svg {
  height: 15px;
  fill: #fff;
  opacity: .6;
}

.p-vid .active .p-vid__link svg {
  opacity: 1;
}

.p-prod {
  margin-bottom: 77px;
  width: 530px;
}

.p-prod::after {
  clear: both;
  content: "";
  display: table;
}

.p-prod__left {
  width: 40%;
  float: left;
  padding-right: 10px;
}

.p-prod__atr {
  color: #7d481e;
  font-size: 36px;
  text-transform: uppercase;
  padding-bottom: 5px;
  display: block;
}

.p-prod__title {
  font-size: 26px;
  color: #000;
  text-transform: uppercase;
  padding-bottom: 10px;
}

.p-prod__item {
  font-size: 20px;
  color: #000;
  padding-bottom: 10px;
}

.p-prod__item b {
  font-weight: normal;
  color: #7d481e;
}

.p-prod__right {
  width: 60%;
  float: right;
}

.p-prod__img {
  display: block;
  width: 100%;
  height: auto;
}

.p-prod__bottom {
  float: left;
  width: 100%;
  clear: both;
  padding-top: 30px;
}

.p-prod__bottom p {
  font-size: 19px;
  color: #000;
  line-height: 27px;
}

.p-prod__button {
  text-align: right;
  clear: both;
  width: 100%;
  float: left;
  padding-top: 16px;
}

.p-prod__full {
  width: 32% !important;
  display: block;
}

.p-prod__full .p-prod__right {
  width: 100%;
  float: left;
}

.p-prod__full .p-prod__left {
  padding-right: 0;
  padding-top: 10px;
  padding-left: 0;
  width: 100%;
}

.p-aboutlist__item {
  display: block;
  width: 100%;
  border-bottom: 1px solid #7f7f7f;
  position: relative;
  margin-bottom: 10px;
}

.p-aboutlist__link {
  font-size: 20px;
  color: #000;
  padding-bottom: 8px;
  padding-top: 8px;
  display: block;
}

.p-aboutlist__link:hover {
  text-decoration: none;
  color: #ba2e17;
}

.p-aboutlist__link:hover::after {
  height: 3px;
  content: '';
  left: 0;
  right: 0;
  bottom: -1px;
  z-index: 1;
  display: block;
  background-color: #ba2e17;
  position: absolute;
}

.p-aboutlist__link:focus, .p-aboutlist__link:active {
  text-decoration: none;
  color: #000;
}

.p-aboutlist .active .p-aboutlist__link {
  color: #ba2e17;
}

.p-aboutlist .active .p-aboutlist__link::after {
  height: 3px;
  content: '';
  left: 0;
  right: 0;
  bottom: -1px;
  z-index: 1;
  display: block;
  background-color: #ba2e17;
  position: absolute;
}

.p-card__left {
  width: 428px;
}

.p-card__left-link {
  display: block;
  outline: none;
}

.p-card__img {
  display: block;
  width: 100%;
  height: auto;
}

.p-card__right {
  width: 658px;
}

.p-card__item {
  position: relative;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.p-card__item::after {
  clear: both;
  content: "";
  display: table;
}

.p-card__item:nth-child(even) {
  background-color: #e7ddcc;
}

.p-card__har {
  padding: 9px 0 9px 60px;
  position: relative;
  font-size: 20px;
  width: 44%;
  float: left;
  color: #7e3500;
}

.p-card__har::after {
  content: '';
  display: block;
  width: 1px;
  top: 6px;
  bottom: 6px;
  background-color: #885a3a;
  position: absolute;
  right: 0;
}

.p-card__icon {
  width: 44px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
}

.p-card__icon svg {
  fill: #7e3500;
}

.p-card__sv {
  width: 56%;
  float: right;
  font-size: 20px;
  padding: 9px 0 9px 20px;
}

.p-prev {
  text-transform: uppercase;
  line-height: 32px;
  color: #000;
  font-size: 20px;
  padding-left: 28px;
  position: relative;
}

.p-prev:hover, .p-prev:focus, .p-prev:active {
  color: #000;
  text-decoration: none;
}

.p-prev svg {
  height: 20px;
  fill: #7b4922;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -10px;
}

.p-next {
  text-transform: uppercase;
  line-height: 32px;
  color: #000;
  font-size: 20px;
  padding-right: 28px;
  position: relative;
}

.p-next:hover, .p-next:focus, .p-next:active {
  color: #000;
  text-decoration: none;
}

.p-next svg {
  height: 20px;
  fill: #7b4922;
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -10px;
}
